<body id='body'>

<h2 id='aboutH2'>Who we are</h2>
<div id='roastHistoryContainer'>
	<p id='aboutP1'>Fulton's roasters was started by Joseph Fulton in Heidelberg, Germany back in 1965. Joseph was a second generation coffee roaster who learned the trade from his great-grandfather, the renowned Eugene Fulton. In 1985, Joseph and his wife, Cynthia, along with their two kids, emigrated to Philadlephia in search of a better life in America. Joseph brought his prized machinery and set up shop in the Francisville neighborhood of Philadlephia, servicing the local workers as they walked down Broad street to work in Center City. 
		<br> <br>
		Since our beginnings, we have focused on roasting the best coffee beans, sourced from local coffee trees to create an exquisite cup of coffee. We have created a full range of roasts, light to dark, to satisfy everyone's palate. We stand by our craftsmanship and guarantee the quality of our product, or half your money back -- GUARANTEED!
	</p>
	<div class='aboutImage1'></div>
</div>

<div id='processHead'>
	<div id='processTitle'>Our Process
	</div>
</div>

<hr>

<div id='processContain'>
	<div id='step1'>
		<div id='step1Img'></div>
		<div id='step1Story'>We first thoroughly wash every bean to ensure no outside factors affect the beans taste once roasted. This process is vital to the integrity of our taste</div>
	</div>
	<div id='step2'>
		<div id='step2Img'></div>
		<div id='step2Story'>Once the beans are washed, we roast them in small batches. The small batch technique was taught to our founder, Joseph, back in Heidelberg Germany. It is necessary to thoroughly roast all of the beans to maximize their flavor, while eliminating as much acidity as possible</div>
	</div>
	<div id='step3'>
		<div id='step3Img'></div>
		<div id='step3Story'>After roasting, we use a proprietary technology to fast-freeze the beans top make them easiery to grind. This allows us to pulverize the beans and create the most delicate of coffee grinds</div>
	</div>
	<div id='step4'>
		<div id='step4Img'></div>
		<div id='step4Story'>To brew the coffee, we take our freshly pulverized grinds and run them through our triple-trickle drip system. This allows us to maximize the flavor output of each bean while also eliminating any and all grinds in teh finished product</div>
	</div>

</div>

