<body id='body'>
<h2 id='contactH2'>Contact Us</h2>
<p id='contactP1'>Please feel free to reach out to us with any questions or ordering issues! We value our customers, and respond within 48 hours!</p>


<!-- form for the old email program -->
<!-- <div id='contactUs'>
<form method='post' action='/contact'>
	<input id='inputEmail' type="text" name="email" placeholder="Tell us who you are!">
	<input id='inputSubject' type="text" name="subject" placeholder="What's this all about?!">
	<textarea id='inputText' name="body" placeholder="Please include any additional contact information you have so that we can get back to you as soon as possible. Thank you!"></textarea>
	<input id='inputSubmit' type="submit" value="Send it our way">


</form>
</div> -->

<div id='contactUs'>
<form method="POST" action="https://formspree.io/andrewgfulton@gmail.com" id='form'>
  <input id='inputEmail'type="email" name="email" placeholder="Tell us who you are!">
  <input id='inputSubject' type="subject" name="subject" placeholder="What's this all about?!">
  <textarea id='inputText' name="message" placeholder="Please include any additional contact information you have so that we can get back to you as soon as possible. Thank you!"></textarea>
  <input type="submit" id='inputSubmit'></input>
</form>
</div>