<!DOCTYPE html>
<html>
<head>
	<title>Fulton's Coffeeshop</title>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600i,800" rel="stylesheet">

</head>
<nav class='navbar' id='navbar'>
		<ul id='navbar'>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>


<div class='main-container'>
	<%= yield %>
</div>

<script type="text/javascript" src='../javascript/javascript.js'></script>
</body>
</html>