.navbar {
	width: 70%;
	margin: 20px auto;
	// border: 2px solid;
	background-color: rgba(191,169,142,0.9);
	box-shadow: 5px 5px 5px grey;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	overflow: hidden;

}

.navbar li{
	display: inline;
	text-decoration: none;
	width: 75px;
	height: 20px;
	font-size: 1.5em;
}

.navbar li a{
	color: white;
	text-decoration: none;
	// border: 2px solid;
	position: relative;
	margin: 40px;
	flex-direction: row;
	justify-content: space-between;
}
